@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.card {
  border: 0;
}

.header-wrapper {
  background-image: url(../images/headerfon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  padding: 85px 0 210px;
}
.navbar {
  padding: 0;
}

.logo {
  cursor: pointer;
}

.nav-item {
  font-weight: 600;
}

.nav-link::after {
  content: "\\\\";
  padding-left: 30px;
}

.nav-item:last-child .nav-link:after {
  content: "";
  padding-left: 0;
}

.nav-link_theme_light {
  color: #fff;
}

.nav-link:hover {
  color: #1f2225;
}

.primary {
  color: #fff;
}

.primary-uptitle {
  font-size: 2.8rem;
  font-weight: 300;
  letter-spacing: -0.9px;
  line-height: 55px;
  margin-bottom: 0;
}

.primary-title {
  font-size: 4.3rem;
  font-weight: 700;
  letter-spacing: -4.2px;
  line-height: 80px;
  margin-bottom: 0;
}

.primary-subtitle {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: -2.4px;
  line-height: 50px;
  margin-bottom: 0;
}

.button {
  margin-top: 95px;
  margin-bottom: 290px;
}

.primary__btn {
  border-radius: 0;
  padding: 9px 30px;
  color: #fff;
}

.about {
  margin-top: 100px;
}

.title {
  font-weight: 700;
}

.title_theme_semibold {
  font-weight: 600;
  font-size: 16px;
}

.title_theme_light {
  color: #fff;
}

.title_size_lg {
  font-size: 45px;
  line-height: 60px;
}

.subtitle_theme_colors {
  color: #e74c3c;
  font-size: 20px;
  line-height: 28px;
}

.subtitle_theme_light {
  font-size: 24px;
  color: #fff;
}

.description {
  color: #737373;
  line-height: 28px;
}

.vertical-border {
  width: 3px;
  height: 95%;
  background-color: #f39c12;
}

.fa-lightbulb {
  font-size: 40px;
  padding: 43px 49px;
  border: 3px solid #f39c12;
  border-radius: 66px;
}

.col-5_theme_custom {
  background-color: #e74c3c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-camera {
  font-size: 41px;
  color: #fff;
}

.horizontal-border {
  width: 100%;
  height: 2px;
  background-color: #e6e6e6;
  margin-top: 120px;
}

.service {
  margin: 100px 0;
}

.service__horizontal-border {
  margin-bottom: 120px;
}

.row__margin-lg {
  margin: 100px 0 150px;
}

.row__margin-md {
  margin: 125px 0 110px;
}

.row__margin-sm {
  margin-bottom: 50px;
}

.row__margin-xs {
  margin-bottom: 40px;
}

.fa-sliders-h {
  font-size: 32px;
  padding: 46px;
  border: 3px solid #f39c12;
  border-radius: 64px;
  color: #0d0d0d !important;
}

.percent {
  color: #bfbfbf;
}

.line {
  width: 97.5%;
  height: 10px;
  position: absolute;
}

.line_theme_light {
  background-color: #f39c12;
  z-index: 10;
}

.line_theme_dark {
  background-color: #e6e6e6;
}

.line_size_s {
  width: 71%;
}

.line_size_m {
  width: 76%;
}

.line_size_l {
  width: 81%;
}

.line_size_xl {
  width: 87%;
}

.quote {
  background: url(../images/aboutfon.jpg) no-repeat;
  background-size: cover;
  padding: 255px 0;
}

.quotes {
  font-size: 110px;
  color: #fff;
  padding-bottom: 0;
}

.quote__horizontal-line {
  margin-bottom: 20px;
  height: 4px;
}

.team {
  margin-bottom: 120px;
}

.card-body__horizontal-line {
  margin: 10px auto;
  height: 4px;
}

.horizontal-line_size_l {
  width: 50px;
  background-color: #f39c12;
}

.horizontal-line_size_s {
  width: 20px;
  background-color: #cccccc;
}
.horizontal-line_size_m {
  width: 50px;
  height: 2px;
  background-color: #f39c12;
  margin: 5px auto;
}

.card-img {
  max-width: 75%;
}

.card-link {
  color: #999999;
}

.team__card {
  border-top: 4px solid transparent;
}

.team__card:hover {
  background-color: #f0f0f0;
  border-top: 4px solid #f39c12;
}

.fab:hover:before {
  color: #f39c12;
}

.team__card:hover .horizontal-line {
  background-color: #e74c3c;
}

.statistics {
  background: url(../images/blogfon.jpg) no-repeat;
  background-size: cover;
  padding: 180px 0 240px;
}

.fas {
  font-size: 32px;
  padding: 70px;
  border: 2px solid #f39c12;
  border-radius: 50%;
  margin: auto;
  color: #fff;
}

.card-title_theme_light {
  font-size: 45px;
  color: #fff;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
}

.card-title_theme_dark {
  color: #0d0d0d;
  font-weight: 700;
}

.card-subtitle_theme_light {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
}

.service__card-title {
  margin: 30px 0 25px;
  line-height: 25px;
  font-size: 20px;
}

.statistics__card {
  margin: 0 !important;
  background-color: transparent;
}

.statistics__card:hover .fas {
  border: 2px solid #fff;
  color: #f39c12;
}
/* 
.icon-block {
  width: 32px;
  height: 32px;
} */

.service__row {
  padding-bottom: 120px;
}

.far {
  font-size: 32px;
}

.fa-star {
  font-size: 32px;
  padding: 35px;
  border: 2px solid #f39c12;
  border-radius: 50%;
}

.fa-vial {
  color: #0d0d0d;
  padding: 35px;
}

.fa-globe {
  color: #0d0d0d;
  padding: 35px;
}

.card-text_theme_grey {
  line-height: 28px;
  color: #737373;
}

.service__card:hover .fa-globe,
.service__card:hover .fa-vial,
.service__card:hover .fa-star {
  color: #fff;
  background-color: #f39c12;
}

.service-card__title,
.service__card-subtitle {
  font-size: 22px;
  line-height: 45px;
  margin-bottom: 0;
  font-weight: 700;
}

.fa-money-bill-alt {
  font-size: 32px;
  padding: 46px;
  border: 2px solid #f39c12;
  border-radius: 50%;
  transform: rotateZ(-30deg);
}

.card-header_theme_light {
  background-color: #fff;
  border: 1px solid #e6e6e6;
}

.list-group-item:nth-child(odd) {
  background-color: #fafafa;
}

.service__card-body {
  padding: 0;
}

.service__card-body:hover .list-group {
  background-color: #8f8f8f !important;
}

.service__card-body:hover .card-header {
  background-color: #f39c12;
}

.service__card-body:hover .list-group-item {
  opacity: 0.8;
}

.service__card-body:hover .horizontal-line_size_m {
  background-color: #000;
}
/* .service__card-body:hover .list-group-item {
  background-color: #f39c12 !important;
} */

.card-header_theme_light:nth-child(2) {
  border: none;
}

.service__list-group-item {
  border-radius: none;
}

.quotes__text_theme_light {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 300;
  font-style: italic;
}

.quote-bottom__horizontal-line {
  margin-bottom: 30px;
  height: 4px;
  margin-top: 10px;
}

.portfolio {
  padding: 100px 0 120px;
}

.nav__btn::after {
  content: "\\\\";
  padding-left: 15px;
  color: #a6a6a6;
}

.nav-item:last-child .nav__btn:after {
  content: "";
  padding-left: 0;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
  font-weight: 600;
}

.btn_theme_sub {
  color: #0d0d0d;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  padding-left: 0;
}

.nav-item:hover .btn {
  color: #f39c12;
}

.fa-camera_theme_portfolio {
  border: none;
  border-radius: 0;
  padding: 73px;
  font-size: 72px;
}

.portfolio__card:nth-child(2n + 1) {
  background-color: #c7c7c7;
}

.portfolio__card:nth-child(2n) {
  background-color: #b7b7b7;
}

.card-body_theme_light {
  background-color: #fff;
}

/* .portfolio__card-img {
  height: 200px;
  width: 100%;
  position: absolute;
}

.portfolio__card:hover .card-img {
  z-index: 200;
} */

.portfolio__card:hover {
  background: url(../images/projectfoto.jpg) no-repeat;
}

.portfolio__card:hover .fa-camera_theme_portfolio {
  z-index: -1;
}

.portfolio__card:hover .portfolio__card-title {
  color: #f39c12;
}

.portfolio__card-title {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 5px;
}

.portfolio__card-subtitle {
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}

.quote__fa-twitter {
  font-size: 30px;
  color: #f39c12;
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.quote__title {
  font-size: 22px;
  line-height: 33px;
  color: #fff;
  margin-top: 35px;
}

.quote__subtitle {
  font-size: 15px;
  line-height: 38px;
  color: #808080;
}

.blog {
  padding-bottom: 40px;
}

.blog__title {
  display: inline-block;
  background-color: #fff;
  position: absolute;
  top: 235px;
  right: 0;
  padding: 20px;
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.data {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.28px;
  color: #808080;
  padding-top: 25px;
}

.data > p {
  margin-bottom: 0;
}

.blog__btn {
  margin-bottom: 60px;
  color: #0d0d0d;
  font-weight: 700;
  border: 2px solid #f39c12;
  border-radius: 0;
}

.blog__btn:hover {
  color: #fff;
}

.clients {
  background: url(../images/blogfon.jpg) no-repeat;
  background-size: cover;
  padding: 210px 0 250px;
}

.clients__title {
  font-size: 30px;
  line-height: 60px;
  color: #fff;
}

.clients__img {
  margin: auto;
}

.clients__col {
  min-height: 160px;
  max-width: 255px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  display: flex;
}

@media (max-width: 768px) {
  .vertical-border {
    width: 95%;
    height: 3px;
    margin-bottom: 5px;
  }
}
