@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}
body {
  position: relative;
}

.card {
  border: 0;
  border-radius: 0;
}

.header-wrapper {
  background-image: url(../images/headerfon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  padding: 85px 0 210px;
}
.navbar {
  padding: 0;
}

.logo {
  cursor: pointer;
}

.nav-item {
  font-weight: 600;
}

.nav-link::after {
  content: "\\\\";
  padding-left: 30px;
}

.nav-link:last-child {
  padding-right: 0 !important;
}
.nav-item:last-child .nav-link:after {
  content: "";
  padding-left: 0;
}

.nav-link_theme_light {
  color: #fff;
}

.nav-link:hover {
  color: #1f2225;
}

.nav-link:hover::after {
  color: #fff;
}

.burger-menu {
  width: 40px;
  height: 40px;
  position: relative;
}

.burger-menu__item:nth-of-type(1) {
  width: 100%;
  height: 3px;
  background-color: #fff;
  top: 6px;
  position: absolute;
}

.burger-menu__item:nth-of-type(2) {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-top: 18px;
  position: absolute;
}

.burger-menu__item:nth-of-type(3) {
  width: 100%;
  height: 3px;
  background-color: #fff;
  top: 30px;
  position: absolute;
}

.burger-menu .burger-menu__item:nth-of-type(1) {
  transition: transform 600ms;
}

.burger-menu .burger-menu__item:nth-of-type(2) {
  transition: margin 800ms;
}

.burger-menu .burger-menu__item:nth-of-type(3) {
  transition: transform 600ms;
}

.burger-menu .burger-menu__item {
  transition-duration: 1000ms;
}

.burger-menu:hover .burger-menu__item:nth-of-type(1) {
  width: 60%;
  border-right-color: #e9b8b9;
  box-shadow: 0.4em 0 0.6em 0.1em #fff;
  transform: rotate(-33deg) translate(-5px, 3px);
  background-color: #f39c12;
}
.burger-menu:hover .burger-menu__item:nth-of-type(2) {
  border-right-color: #e9b8b9;
  box-shadow: 0.4em 0 0.6em 0.1em #fff;
  background-color: #f39c12;
}

.burger-menu:hover .burger-menu__item:nth-of-type(3) {
  width: 60%;
  border-right-color: #ddf1da;
  box-shadow: 0.4em 0 0.6em 0.1em rgba(251, 255, 0, 0.555);
  transform: rotate(-135deg) translateX(5px);
  background-color: #f39c12;
}

.primary {
  color: #fff;
}

.primary-uptitle {
  font-size: 2.8rem;
  font-weight: 300;
  letter-spacing: -0.9px;
  line-height: 55px;
  margin-bottom: 0;
}

.primary-title {
  font-size: 4.3rem;
  font-weight: 700;
  letter-spacing: -4.2px;
  line-height: 80px;
  margin-bottom: 0;
}

.primary-subtitle {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: -2.4px;
  line-height: 50px;
  margin-bottom: 0;
}

.button {
  margin-top: 95px;
  margin-bottom: 290px;
}

.primary__btn {
  border-radius: 0;
  padding: 9px 30px;
  color: #fff;
}

.about {
  margin-top: 100px;
}

.title {
  font-weight: 700;
}

.title_theme_semibold {
  font-weight: 600;
  font-size: 16px;
}

.title_theme_light {
  color: #fff;
}

.title_size_lg {
  font-size: 45px;
  line-height: 60px;
}

.subtitle_theme_colors {
  color: #e74c3c;
  font-size: 20px;
  line-height: 28px;
}

.subtitle_theme_light {
  font-size: 24px;
  color: #fff;
}

.description {
  color: #737373;
  line-height: 28px;
}

.vertical-border {
  width: 3px;
  height: 95%;
  background-color: #f39c12;
}

.fa-lightbulb {
  font-size: 40px;
  padding: 43px 49px;
  border: 3px solid #f39c12;
  border-radius: 66px;
}

.col-5_theme_custom {
  background-color: #e74c3c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-camera {
  font-size: 41px;
  color: #fff;
}

.horizontal-border {
  width: 100%;
  height: 2px;
  background-color: #e6e6e6;
  margin-top: 120px;
}

.service {
  margin: 100px 0;
}

.service__horizontal-border {
  margin-bottom: 120px;
}

.row__margin-lg {
  margin: 100px 0 150px;
}

.row__margin-md {
  margin: 125px 15px 110px;
}

.row__margin-sm {
  margin-bottom: 50px;
}

.row__margin-xs {
  margin-bottom: 40px;
}

.row__margin-xxs {
  margin-bottom: 10px;
}

.fa-sliders-h {
  font-size: 32px;
  padding: 46px;
  border: 3px solid #f39c12;
  border-radius: 64px;
  color: #0d0d0d !important;
}

.percent {
  color: #bfbfbf;
}

.line {
  width: 97.5%;
  height: 10px;
  position: absolute;
}

.line_theme_light {
  background-color: #f39c12;
  z-index: 10;
}

.line_theme_dark {
  background-color: #e6e6e6;
}

.line_size_s {
  width: 71%;
}

.line_size_m {
  width: 76%;
}

.line_size_l {
  width: 81%;
}

.line_size_xl {
  width: 87%;
}

.quote {
  background: url(../images/aboutfon.jpg) no-repeat;
  background-size: cover;
  padding: 255px 0;
}

.quotes {
  font-size: 110px;
  color: #fff;
  padding-bottom: 0;
}

.quote__horizontal-line {
  margin-bottom: 20px;
  height: 4px;
}

.card-body__horizontal-line {
  margin: 10px auto;
  height: 4px;
}

.horizontal-line_size_l {
  width: 50px;
  background-color: #f39c12;
}

.horizontal-line_size_s {
  width: 20px;
  background-color: #cccccc;
}
.horizontal-line_size_m {
  width: 50px;
  height: 2px;
  background-color: #f39c12;
  margin: 5px auto;
}

.card-img {
  max-width: 75%;
}

.card-link {
  color: #999999;
}

.team__card {
  border-top: 4px solid transparent;
}

.team__card:hover {
  background-color: #f0f0f0;
  border-top: 4px solid #f39c12;
}

.fab:hover:before {
  color: #f39c12;
}

.team__card:hover .horizontal-line {
  background-color: #e74c3c;
}

.statistics {
  background: url(../images/blogfon.jpg) no-repeat;
  background-size: cover;
  padding: 180px 0 240px;
}

.fas,
.far {
  border-radius: 50%;
  margin: auto;
}

.far:hover,
.fas:hover,
.fab:hover {
  transform: rotateY(360deg);
  transition-duration: 1500ms;
}

.icon_size_lg {
  font-size: 32px;
  padding: 70px;
  color: #fff;
}

.icon_size_md {
  font-size: 30px;
  padding: 37px;
  color: #000;
}

.icon_size_sm {
  font-size: 16px;
  padding: 9px;
  color: #000;
  border-radius: 50%;
}

.icon_theme_light {
  border: 2px solid #f39c12;
}

.card-title_theme_light {
  font-size: 45px;
  color: #fff;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
}

.card-title_theme_dark {
  color: #0d0d0d;
  font-weight: 700;
}

.card-subtitle_theme_light {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
}

.service__card-title {
  margin: 30px 0 25px;
  line-height: 25px;
  font-size: 20px;
}

.statistics__card {
  margin: 0 !important;
  background-color: transparent;
}

.statistics__card:hover .fas {
  border: 2px solid #fff;
  color: #f39c12;
}

.service__row {
  padding-bottom: 120px;
}

.fa-vial {
  color: #0d0d0d;
  padding: 35px;
}

.card-text_theme_grey {
  line-height: 28px;
  color: #737373;
}

.service__card:hover .fa-globe,
.service__card:hover .fa-vial,
.service__card:hover .fa-star {
  color: #fff;
  background-color: #f39c12;
}

.service-card__title,
.service__card-subtitle {
  font-size: 22px;
  line-height: 45px;
  margin-bottom: 0;
  font-weight: 700;
}

.fa-money-bill-alt {
  font-size: 32px;
  padding: 46px;
  border: 2px solid #f39c12;
  border-radius: 50%;
  transform: rotateZ(-30deg);
}

.card-header_theme_light {
  background-color: #fff;
  border: 1px solid #e6e6e6;
}

.list-group-item:nth-child(odd) {
  background-color: #fafafa;
}

.service__card-body {
  padding: 0;
}

.service__card-body:hover .list-group {
  background-color: #8f8f8f !important;
}

.service__card-body:hover .card-header {
  background-color: #f39c12;
}

.service__card-body:hover .list-group-item {
  opacity: 0.8;
}

.service__card-body:hover .horizontal-line_size_m {
  background-color: #000;
}

.card-header_theme_light:nth-child(2) {
  border: none;
}

.service__list-group-item {
  border-radius: none;
}

.quote__text_theme_light {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 300;
  font-style: italic;
}

.quote-bottom__horizontal-line {
  margin-bottom: 30px;
  height: 4px;
  margin-top: 10px;
}

.portfolio {
  padding: 100px 0 120px;
}

.nav__btn::after {
  content: "\\\\";
  padding-left: 15px;
  color: #a6a6a6;
}

.nav-item:last-child .nav__btn:after {
  content: "";
  padding-left: 0;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
  font-weight: 600;
}

.btn_theme_sub {
  color: #0d0d0d;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  padding-left: 0;
}

.nav-item:hover .btn {
  color: #f39c12;
}

.fa-camera_theme_portfolio {
  border: none;
  border-radius: 0;
  padding: 73px;
  font-size: 72px;
}

.portfolio__card:nth-child(2n + 1) {
  background-color: #c7c7c7;
}

.portfolio__card:nth-child(2n) {
  background-color: #b7b7b7;
}

.card-body_theme_light {
  background-color: #fff;
}

.portfolio__card:hover {
  background: url(../images/projectfoto.jpg) no-repeat;
  background-position: center;
}

.portfolio__card:hover .fa-camera_theme_portfolio {
  z-index: -1;
}

.portfolio__card:hover .portfolio__card-title {
  color: #f39c12;
}

.portfolio__card-title {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 5px;
}

.portfolio__card-subtitle {
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}

.quote__fa-twitter {
  font-size: 30px;
  color: #f39c12;
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.quote__title {
  font-size: 22px;
  line-height: 33px;
  color: #fff;
  margin-top: 35px;
}

.quote__subtitle {
  font-size: 15px;
  line-height: 38px;
  color: #808080;
}

.blog-card {
  position: relative;
}

.img-card {
  width: 100%;
}

.blog__title {
  display: inline-block;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.data {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.28px;
  color: #808080;
  padding-top: 25px;
}

.data > p {
  margin-bottom: 0;
}

.blog__btn {
  margin-bottom: 60px;
  color: #0d0d0d;
  font-weight: 700;
  border: 2px solid #f39c12;
  border-radius: 0;
}

.blog__btn:hover {
  color: #fff;
}

.clients {
  background: url(../images/blogfon.jpg) no-repeat;
  background-size: cover;
  padding: 210px 0 250px;
}

.clients__title {
  font-size: 30px;
  line-height: 60px;
  color: #fff;
}

.clients__img {
  margin: auto;
}

.clients__col {
  min-height: 160px;
  max-width: 255px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  display: flex;
}

.contact__title {
  margin-bottom: 35px;
}

.contact__form-control {
  border: 2px solid #d9d9d9;
  border-radius: 0;
}

.contact__form-control:hover {
  border: 2px solid #f39c12;
}

.form-control_backgroud_user {
  background: url(../images/icons/1.svg) no-repeat 100% 6px;
}

.form-control_backgroud_email {
  background: url(../images/icons/email.svg) no-repeat 100% 12px;
}

.form-control_backgroud_comment {
  background: url(../images/icons/comment.svg) no-repeat 100% 9px;
}

.fa-map-marker-alt {
  padding: 8px 11px;
}

.contact-data {
  line-height: 25px;
  color: #0d0d0d;
  letter-spacing: -0.32px;
  margin-bottom: 0;
}

.map-wrapper::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 100px solid #fff;
  border-right: 98vw solid transparent;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 9999;
}

.map-wrapper::after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 100px solid #fff;
  border-left: 98vw solid transparent;
  position: absolute;
  bottom: 100px;
  left: 0;
  z-index: 9999;
}

.map {
  margin: 100px auto;
}

.footer {
  margin-bottom: 50px;
}

.footer__title {
  font-size: 14px;
  color: #0d0d0d;
  font-weight: 600;
}

.footer__title-first::before {
  content: "|";
  color: #a6a6a6;
  margin-right: 5px;
}

.footer-link {
  font-size: 18px;
  margin-right: 24px;
  color: #0d0d0d;
}

.footer-link:nth-child(7) {
  margin-right: 0;
}

.footer-link:hover {
  color: #f39c12;
}

.background {
  background-color: aqua;
}

@media (max-width: 1200px) {
  .row__margin-xs {
    margin-bottom: 25px;
  }
}

@media (max-width: 992px) {
  .nav-link::after {
    padding-left: 10px;
  }

  .row__margin-lg {
    margin: 50px 0 30px;
  }

  .icon_size_lg {
    padding: 35px;
  }

  .card-title_theme_light {
    font-size: 35px;
    margin-top: 10px;
  }

  .card-subtitle_theme_light {
    font-size: 20px;
  }

  .fa-camera_theme_portfolio {
    padding: 50px;
  }

  .blog {
    padding-bottom: 0;
  }

  .blog__title {
    padding: 0 20px;
    font-size: 14px;
  }

  .blog__btn {
    margin-bottom: 30px;
  }

  .clients {
    padding: 210px 0 150px;
  }

  .map-wrapper::before {
    border-right: 97vw solid transparent;
  }

  .map-wrapper::after {
    border-left: 97vw solid transparent;
  }
}

@media (max-width: 768px) {
  .navbar__top {
    position: fixed;
    width: 200px;
    right: -200px;
    background-color: #737373;
    top: 0px;
    height: 100%;
    align-items: flex-start;
  }

  .show__menu {
    right: 0 !important;
  }

  .show__content {
    right: 200px !important;
  }
  .nav__top {
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 80px;
    padding-right: 15px;
  }

  .nav__bottom {
    flex-direction: column;
    width: 100%;
  }

  .nav-item__top {
    line-height: 3rem;
    border-bottom: 1px solid #353535;
    width: 100%;
    text-align: right;
  }

  .nav-item__bottom {
    text-align: center;
  }

  .nav__btn::after {
    content: "";
  }

  .nav-item__bottom:nth-of-type(1) {
    text-align: left;
  }

  .nav-item__bottom:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
  }

  .nav-item__bottom:nth-of-type(2) {
    text-align: left;
    margin-left: 15%;
  }

  .nav-item__bottom:nth-of-type(3) {
    text-align: left;
    margin-left: 30%;
  }

  .nav-item__bottom:nth-of-type(4) {
    margin-left: 15%;
  }

  .nav-item__bottom:nth-of-type(5) {
    text-align: right;
    margin-right: 20%;
  }

  .nav-item__bottom:nth-of-type(6) {
    text-align: right;
  }

  .nav__top:nth-child(1):before {
    content: url(../images/icons/multiply.svg);
    max-width: 30px;
    max-height: 30px;
    margin-bottom: 10px;
    margin-left: 140px;
  }

  .nav__top:nth-child(1):hover:before {
    transform: rotate(360deg);
    transition: ease-in-out;
    transition-duration: 1200ms;
  }

  .nav-link::after {
    content: "";
  }

  .primary-uptitle {
    font-size: 2rem;
  }

  .primary-title {
    font-size: 3rem;
    line-height: 60px;
  }

  .primary-subtitle {
    font-size: 1.8rem;
  }

  .about {
    margin-top: 40px;
  }

  .fa-lightbulb {
    margin-bottom: 15px;
  }

  .horizontal-border {
    margin-top: 50px;
  }

  .row__margin-md {
    margin: 50px 0 50px;
  }

  .vertical-border {
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
  }

  .statistics {
    padding: 80px 0;
  }

  .service__row {
    padding-bottom: 50px;
  }

  .service {
    margin: 50px 0;
  }

  .service__horizontal-border {
    margin-bottom: 50px;
  }

  .quote {
    padding: 150px 0;
  }

  .portfolio {
    padding: 70px 0 0 0;
  }

  .blog__title {
    padding: 20px 20px;
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .line {
    width: 94%;
  }

  .title_size_lg {
    font-size: 30px;
    line-height: 45px;
  }
  .quotes {
    font-size: 90px;
  }

  .subtitle_theme_light {
    font-size: 22px;
  }

  .footer-link {
    margin-right: 16px;
  }

  .blog__title {
    padding: 0 20px;
    font-size: 14px;
    text-transform: capitalize !important;
  }

  .map-wrapper::before {
    border-right: 94vw solid transparent;
  }

  .map-wrapper::after {
    border-left: 94vw solid transparent;
  }
}
