/* @font-face {
  font-family: "Brown-Bold";
  src: url("./fonts/Brown-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brown-Regular";
  src: url("./fonts/Brown-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brown-Light";
  src: url("./fonts/Brown-Light.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
} */
@font-face {
  font-family: "Brown-Light";
  src: url("./fonts/Brown-Light.eot");
  src: url("./fonts/Brown-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Brown-Light.woff2") format("woff2"),
    url("./fonts/Brown-Light.woff") format("woff"),
    url("./fonts/Brown-Light.ttf") format("truetype"),
    url("./fonts/Brown-Light.svg#Brown-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Brown-Bold";
  src: url("./fonts/Brown-Bold.eot");
  src: url("./fonts/Brown-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Brown-Bold.woff2") format("woff2"),
    url("./fonts/Brown-Bold.woff") format("woff"),
    url("./fonts/Brown-Bold.ttf") format("truetype"),
    url("./fonts/Brown-Bold.svg#Brown-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brown-Regular";
  src: url("./fonts/Brown-Regular.eot");
  src: url("./fonts/Brown-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Brown-Regular.woff2") format("woff2"),
    url("./fonts/Brown-Regular.woff") format("woff"),
    url("./fonts/Brown-Regular.ttf") format("truetype"),
    url("./fonts/Brown-Regular.svg#Brown-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.container {
  width: 100%;
  height: auto;
}

.content {
  max-width: 1920px;
  margin: 0 auto;
  background: url("./images/monument_foto.png") 100% 0%,
    url("./images/building.jpg") 13% 0%, url("./images/building2.jpg") 0% 800px;
  background-repeat: no-repeat;
  background-size: 1040px 1030px, 855px 700px, 526px 482px;
}

.header {
  max-width: 1240px;
  height: auto;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  flex-basis: 152px;
  height: 47px;
  flex-shrink: 0;
}

.logo__link {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.logo__img {
  width: 100%;
  height: 100%;
  display: block;
}

.menu {
  flex-basis: 600px;
  height: auto;
}

.menu__list {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Brown-Bold", sans-serif;
}

.menu__item {
  height: auto;
  font-size: 20px;
  display: block;
  line-height: 2.5;
}

.menu__link {
  display: block;
  color: #32325d;
  padding: 0 24px;
}

.menu__link:hover {
  border-radius: 3px;
  background-color: #845cff;
  color: #fff;
}

.menu-icon {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: none;
  margin-top: 10px;
}

.menu-icon__item {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #32325d;
  position: absolute;
  transition: 0.4s ease-in-out;
}

.menu-icon__item:nth-child(2) {
  top: 12px;
}

.menu-icon__item:nth-child(3) {
  top: 24px;
}

.menu-icon__rotate-right {
  top: 12px;
  transform: rotate(45deg);
}

.menu-icon__rotate-left {
  top: 12px !important;
  transform: rotate(-45deg);
}

.menu-icon__item_theme_hidden {
  display: none;
}

.menu_theme_visible {
  display: block !important;
}

.stability {
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
}

.stability-container {
  max-width: 1240px;
  height: auto;
  margin: 0 auto;
}

.description {
  height: auto;
}

.description__stability {
  margin-top: 250px;
}

.margin-top-l {
  margin-top: 200px;
}

.descriptions__padding {
  padding-top: 75px;
}

.description_size_xs {
  max-width: 475px;
}

.description_size_s {
  max-width: 530px;
}

.description_size_m {
  max-width: 585px;
}

.description_size_l {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

.conversion-description__title {
  text-align: center !important;
}

.description__title {
  line-height: 62px;
  font-size: 48px;
  text-align: left;
  color: #32325d;
  width: 100%;
  height: auto;
}

.description__title_weight_bold {
  font-family: "Brown-Bold";
}

.description__title_weight_light {
  font-family: "Brown-Light";
  font-weight: 300;
}

.stability__title {
  margin-bottom: 50px;
}

.description__text {
  font-family: "Brown-Light";
  font-size: 23px;
  line-height: 32px;
  color: #525f7f;
  height: auto;
}

.stability__text {
  width: 88%;
  margin-bottom: 45px;
}

.description__text_width_max {
  width: 100%;
}

.description__text_align_center {
  width: 98%;
  text-align: center;
}

.description__text_margin_medium {
  margin-bottom: 55px;
}

.description__text_margin_large {
  margin-bottom: 70px;
}

.button-block {
  max-width: 440px;
  min-height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.open-form-button {
  width: 145px;
  height: 45px;
  background-color: #845cff;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  font-family: "Brown-Bold";
  text-transform: uppercase;
  outline: none;
  border: none;
  flex-shrink: 0;
}

.open-form-button:hover {
  background-color: #f79b86;
  color: #000;
}

.open-questions-form-button {
  font-family: "Brown-Regular";
  max-width: 270px;
  height: auto;
  font-size: 18px;
  line-height: 2.5;
  text-align: center;
  color: #4d4d73;
  cursor: pointer;
  border: none;
  background: transparent;
  flex-shrink: 0;
}

.open-questions-form-button:hover {
  color: #f79b86;
}

.form {
  max-width: 450px;
  min-height: 450px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #eef0fa;
  visibility: hidden;
  position: absolute;
}

.form__field {
  width: 80%;
  height: 40px;
  border-radius: 3px;
  font-family: "Brown-Light";
  padding: 0 10px;
  font-size: 24px;
  outline: none;
  box-sizing: border-box;
}

.form__button {
  width: 80%;
  height: 45px;
  border-radius: 3px;
  background-color: #845cff;
  font-family: "Brown-Bold";
  outline: none;
  color: #fff;
  font-size: 24px;
  border: none;
}

.form__button:hover {
  background-color: #f79b86;
  color: #000;
  box-shadow: 0 0 15px 3px #c4968c;
}

.improve {
  margin: 0 auto;
  padding: 50px 20px 0;
}

.improve-container {
  max-width: 1240px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.improve-item {
  background-color: #fff;
  border-radius: 10px;
  flex-basis: 45%;
  height: auto;
  min-height: 460px;
  margin-top: 60px;
  padding: 59px;
  box-sizing: border-box;
  box-shadow: -7px 7px 20px 0 rgba(212, 212, 250, 0.2);
}

.improve__image {
  padding-bottom: 55px;
}

.improve__title {
  line-height: auto;
  font-size: 30px;
  text-align: left;
  color: #3f3f59;
  font-family: "Brown-Light";
  margin-bottom: 30px;
}

.many-block-title {
  margin-bottom: 40px;
}

.improve__text {
  line-height: 25px;
  font-size: 18px;
  text-align: left;
  color: #525f7f;
  font-family: "Brown-Light";
}

.conversion {
  margin: 0 auto;
  max-width: 1920px;
  height: auto;
}
.conversion__description {
  padding: 0 20px;
}

.conversion-list {
  max-width: 1920px;
  min-height: 1425px;
  background: url("./images/conversionfon.jpg") 0% 300px;
  background-size: 1920px 1097px;
  background-repeat: space;
}

.conversion-list-container {
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
}

.conversion-item {
  flex-basis: 21%;
  min-width: 250px;
  min-height: 250px;
  margin-top: 145px;
}

.conversion__icon {
  display: block;
  margin: 0 auto 50px;
}

.conversion__title {
  font-family: "Brown-Regular";
  font-size: 20px;
  color: #212240;
  text-align: center;
  margin-bottom: 20px;
}

.conversion__subtitle {
  font-family: "Brown-Light";
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #525f7f;
}

.safety-and-move {
  max-width: 1240px;
  margin: 200px auto 0;
  height: auto;
  padding: 0 20px;
}

.safety-and-move-wrapper {
  width: 100%;
  min-width: 462px;
  margin-bottom: 200px;
}

.drive {
  background: url("./images/safety_foto.png") 100%;
  background-repeat: no-repeat;
}

.move {
  transform: rotateY(180deg);
  background: url("./images/move_foto.png") 100%;
  background-repeat: no-repeat;
}

.move__position {
  transform: rotateY(180deg);
}

.safety-and-move-container {
  max-width: 570px;
  height: auto;
}

.auto {
  max-width: 550px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.auto-wrapper {
  flex-basis: 40%;
}

.auto__title {
  font-family: "Brown-Light";
  font-size: 30px;
  text-align: left;
  color: #4d4d73;
  margin-bottom: 30px;
}

.auto__subtitle {
  font-family: "Brown-Light";
  font-size: 16px;
  line-height: 1.5;
  color: #525f7f;
}

.finances {
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  background: url("./images/finances_foto.png") 100% 0;
  background-repeat: no-repeat;
  padding: 0 20px 100px;
}

.finances-container {
  max-width: 1240px;
  height: auto;
  margin: 0 auto;
}
.advantages-wrapper {
  max-width: 1240px;
  min-height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages {
  height: auto;
  margin-bottom: 100px;
  min-width: 430px;
}

.advantages:nth-child(1) {
  max-width: 800px;
  flex-basis: 70%;
  margin-top: 150px;
}

.advantages:nth-child(2) {
  flex-basis: 50%;
}

.advantages:nth-child(3) {
  padding-left: 20px;
  flex-basis: 35%;
}

.advantages__title {
  font-family: "Brown-Light";
  font-size: 30px;
  margin-bottom: 60px;
  color: #32325d;
}

.advantages__item {
  font-family: "Brown-Light";
  font-size: 20px;
  line-height: 3;
  color: #32325d;
  background: url("./images/list_icon.jpg") no-repeat 0 21px;
  padding-left: 40px;
}

.ready {
  width: 100%;
  height: auto;
  background-color: #fafaff;
}

.ready-wrapper {
  max-width: 1240px;
  min-height: 160px;
  padding: 120px 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ready-container {
  max-width: 500px;
  height: auto;
  margin-bottom: 40px;
}

.ready__img {
  margin-bottom: 45px;
}

.ready__title {
  font-family: "Brown-light";
  font-size: 48px;
  color: #212240;
  margin-bottom: 30px;
}

.ready__subtitle {
  font-family: "Brown-Light";
  font-size: 23px;
  color: #212240;
}

.ready-form {
  background-color: #fff;
  max-width: 560px;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  box-sizing: border-box;
  margin-left: 20px;
}

.mini-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.form__field_form_sub {
  border: none;
  width: 70%;
}

.form__field_form_sub:focus {
  border: 1px solid #212240;
}

.open-form-button_button_sub {
  width: 100px;
  height: auto;
  background-color: #fff;
  color: #845cff;
  border: none;
  font-size: 15px;
}

.send-email {
  margin-left: 10px;
  border: none;
  outline: none;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #212240;
}

.footer-wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-container {
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts {
  max-width: 170px;
  height: auto;
  margin-right: 20px;
}

.phone {
  margin: 60px 0 50px;
  opacity: 0.8;
  line-height: 30px;
  font-family: "Brown-Light";
}

.phone__number {
  text-transform: uppercase;
  color: #d3d3d9;
}

.phone__link {
  color: #d3d3d9;
}

.phone__link:hover {
  color: #f79b86;
}

.info-website {
  opacity: 0.8;
  font-family: "Brown-Regular";
  margin-bottom: 50px;
}

.info-website__link {
  color: #d3d3d9;
}

.info-website__link:hover {
  color: #f79b86;
}
.social-media {
  width: 95%;
  opacity: 0.8;
}

.social-media-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-media__img:hover {
  transform: scale(2);
  background-color: #845cff;
  border-radius: 3px;
  box-shadow: 0 0 5px 5px #845cff;
}

.links-group {
  max-width: 730px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.links-container {
  flex-basis: auto;
  height: auto;
}

.links-container:nth-child(2) {
  padding: 0 20px;
}

.footer-list-container {
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-list__title {
  line-height: 50px;
  color: #d3d3d9;
}

.footer__item {
  font-size: 16px;
}

.footer__link {
  color: #d3d3d9;
}

.footer__link:hover {
  color: #f79b86;
}

.footer-list-container_theme_light {
  font-family: "Brown_light", sans-serif;
  line-height: 50px;
  min-width: 160px;
}

.footer-list-container_theme_regular {
  font-family: "Brown-Regular", sans-serif;
  line-height: 62px;
  min-width: 215px;
}

.copyright {
  max-width: 1240px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 140px 20px 90px;
}

.copyright-company {
  color: #555377;
  font-size: 16px;
  font-family: "Brown-Light", sans-serif;
  line-height: 70px;
  margin-right: 19px;
}

.copyright-tools {
  min-width: 265px;
}

.copyright-tools__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copyright-tools__item {
  font-size: 16px;
  font-family: "Brown-Light", sans-serif;
  line-height: 70px;
}

.copyright-tools__link {
  color: #555377;
}

.copyright-tools__link:hover {
  color: #f79b86;
}

@media (max-width: 1106px) {
  .ready-wrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 850px) {
  .menu {
    flex-basis: 500px;
  }
  .menu__link {
    padding: 0 10px;
  }
}
@media (max-width: 991px) {
  .improve-container {
    justify-content: center;
  }

  .improve-item {
    flex-basis: 70%;
  }

  .finances {
    background-size: contain;
  }

  .advantages {
    min-width: 380px;
  }

  .advantages__item {
    font-size: 18px;
    background-position-y: 18px;
  }

  .links-group {
    max-width: 600px;
  }
}

@media (max-width: 856px) {
  .description_size_m {
    margin: 0 auto;
  }

  .advantages-wrapper {
    justify-content: center;
  }

  .advantages {
    flex-basis: 80% !important;
    padding-left: 0 !important;
  }

  .links-group {
    flex-direction: column;
    max-width: 215px;
    text-align: end;
    justify-content: flex-start;
  }

  .links-container {
    cursor: pointer;
  }

  .footer-list__title {
    display: inline-block;
    border-bottom: 3px solid transparent;
    line-height: 1.5;
  }
  .footer-lint__title:hover {
    color: #f79b86;
  }
  .links-container:nth-child(2) {
    padding: 0;
  }

  .footer-list {
    display: none;
  }

  .footer-container {
    justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .improve-item {
    flex-basis: 85%;
  }

  .drive {
    background-size: contain;
  }

  .move {
    background-size: contain;
  }

  .safety-and-move-wrapper {
    min-width: 0;
  }

  .advantages {
    flex-basis: 90% !important;
  }

  .ready-form {
    margin-left: 0;
  }

  .links-group {
    flex-wrap: wrap;
  }
}
@media (max-width: 556px) {
  .conversion-list-container {
    justify-content: center;
  }

  .copyright {
    justify-content: center;
    padding: 100px 20px 90px;
  }

  .copyright-company {
    order: 2;
  }
}

@media (max-width: 480px) {
  .improve-item {
    flex-basis: 100%;
    padding: 40px 10%;
  }

  .safety-and-move {
    margin: 150px auto 0;
  }

  .safety-and-move-wrapper {
    margin-bottom: 100px;
  }

  .advantages-wrapper {
    justify-content: center;
  }
  .advantages {
    min-width: 0;
    padding-left: 0 !important;
    flex-basis: 100% !important;
    margin-bottom: 0 !important;
    margin-top: 100px !important;
  }

  .advantages__item {
    line-height: 2;
    background-position-y: 10px;
  }

  .advantages__title {
    margin-bottom: 40px;
  }

  .ready-form {
    padding: 0;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .links-group {
    text-align: center;
    margin-top: 50px;
  }

  .contacts {
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .improve-item {
    padding: 30px 5%;
  }
}
@media screen and (max-width: 750px) {
  .menu {
    flex-basis: 450px;
  }
  .menu__link {
    padding: 0;
  }
}

@media screen and (max-width: 670px) {
  .menu {
    display: none;
    position: fixed;
    margin-top: 60px;
    left: 0;
    right: 0;
    background-color: rgba(255, 112, 67, 0.3);
  }

  .menu__list {
    flex-direction: column;
  }
  .menu-icon {
    display: block;
  }
}
